In [1]:
class Table:
    def __init__(self, name, col) -> None:
        self.name = name
        self.col = col
        self.row = []
    
    def insert(self, **kwargs):
        row = {}
        for col in self.col:
            row[col] = kwargs.get(col, None)
        self.row.append(row)
    
    def select(self, col=None, where=None):
        col = col or self.col
        res = []
        for row in self.row:
            if where is None or where(row):
                res.append({c : row[c] for c in col})
        return res

In [2]:
class Database:
    def __init__(self) -> None:
        self.tables = {}

    def create_table(self, name, cols):
        self.tables[name] = Table(name, cols)
    
    def get_tables(self, name):
        return self.tables.get(name)

In [4]:
db = Database()

db.create_table("users", ["id", "name", "age"])
users = db.get_tables("users")

In [7]:
#type: ignore

users.insert(id=1, name="Batman", age=29)
users.insert(id=2, name="Alfred", age=70)
users.insert(id=3, name="Joker", age=32)

In [9]:
#type: ignore
print(users.select())

[{'id': 1, 'name': 'Batman', 'age': 22}, {'id': 1, 'name': 'Batman', 'age': 29}, {'id': 2, 'name': 'Alfred', 'age': 70}, {'id': 3, 'name': 'Joker', 'age': 32}]

In [10]:
users.select(col=["name"])

[{'name': 'Batman'}, {'name': 'Batman'}, {'name': 'Alfred'}, {'name': 'Joker'}]