In [ ]:
# for loop

for x in range(3):
    print(x, end=" ")
    x = 3

# range does not care about assignment inside the loop, it stops when the iterable is iterated over

0 1 2

In [4]:
# everything is an obj

type(type) is type

True

In [7]:
# interpreter at startup has a bootstrap process

print(issubclass(type, object))
print(issubclass(object, type))

True
False

In [11]:
# vars are labels -> they can be robinded without affecting copies

a = 10
b = a
a = "batman"

print(b)
print(id(a))
print(id(b))

10
2258112713072
140718857667784

In [21]:
# mutability

l = [1,2,3]
l2 = l
l.append(10)

print(l2)

t = (1,2,3)
t2 = t
t += (4,)
print(t2)
print(t)

[1, 2, 3, 10]
(1, 2, 3)
(1, 2, 3, 4)

In [25]:
# default arg evaluation

def foo(x=[]):
    x.append(1)
    return x

print(foo())
print(foo())
print(foo())
print(foo.__defaults__) # created during function definition time and not call time

[1]
[1, 1]
[1, 1, 1]
([1, 1, 1],)

In [29]:
# closures

def make_ctr():
    ct = 0
    def inc():
        nonlocal ct
        ct += 1
        return ct
    return inc

c1 = make_ctr()
c2 = make_ctr()

print(c1())
print(c1())
print(c1())
print(c1())
print()
print(c2())
print(c2())
print(c2())

1
2
3
4

1
2
3

In [38]:
print(c1.__closure__[0].cell_contents)
print(c2.__closure__[0].cell_contents)

4
3

In [40]:
# late binding in closures
# all lambdas share the same i
 
funcs = []
for i in range(3):
    funcs.append(lambda: i)

[f() for f in funcs]

[2, 2, 2]

In [48]:
# object classes can change
# pyobj model is extremely dynamic

class A:
    def greet(self):
        return "A"
    
class B:
    def greet(self):
        return "B"
    
x = A()
print(x.greet())

x.__class__ = B
print(x.greet())

A
B

In [49]:
# attribute lookup order -> MRO

class A: 
    pass

class B(A):
    pass

class C(A):
    pass

class D(B, C):
    pass

D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [53]:
# __getattribute__ vs __getattr__

from typing import Any


class Demo:
    def __getattribute__(self, name: str) -> Any:
        print("getattribute:", name)
        return super().__getattribute__(name)
    
    def __getattr__(self, name: str) -> Any:
        print("getattr:", name)
        return 0

d = Demo()
d.var

getattribute: var
getattr: var

0

In [1]:
# functions are objs with a state

def bar():
    pass

bar.new_attr = "I am Batman"
bar.new_attr

'I am Batman'

In [4]:
# nested lists are shared refs

x = [[0] * 3] * 3
print(x)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [5]:
y = [1] * 3
y

[1, 1, 1]

In [ ]:
# all rows point to the same lst object
[id(row) for row in x]

[1824234079808, 1824234079808, 1824234079808]

In [ ]:
z = [[0] * 3 for _ in range(3)]
[id(row) for row in z]

# * replicates references and not objects

[1824232940224, 1824234143296, 1824232932224]