In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.DataFrame({
    "hours"  : np.random.randint(1, 8, 50),
    "scores" : np.random.randint(50, 100, 50) 
})

df.head()

   hours  scores
0      6      69
1      5      78
2      3      84
3      3      90
4      5      59

In [4]:
df.describe()

           hours    scores
count  50.000000  50.00000
mean    4.800000  74.52000
std     1.653691  13.45778
min     1.000000  52.00000
25%     3.000000  65.00000
50%     5.000000  74.00000
75%     6.000000  85.50000
max     7.000000  99.00000