In [2]:
import pandas as pd

df = pd.read_csv("dirty_cafe_sales.csv")
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [3]:
# basic data descriptions
# info and describe --> info returns structure and nulls whereas describe returns stats

print(df.info(), end="\n\n")
print(df.describe(), end="\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None

       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_9226047  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159

In [4]:
# more inspection

print(df.tail(), end="\n\n")
print(df.shape, end="\n\n")
print(df.columns, end="\n\n")
print(df.dtypes, end="\n\n")

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

(10000, 8)

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [5]:
# col selection

print(df["Payment Method"][:10], end="\n\n")
print(df[["Item", "Location"]])

0       Credit Card
1              Cash
2       Credit Card
3           UNKNOWN
4    Digital Wallet
5       Credit Card
6             ERROR
7              Cash
8               NaN
9               NaN
Name: Payment Method, dtype: object

          Item  Location
0       Coffee  Takeaway
1         Cake  In-store
2       Cookie  In-store
3        Salad   UNKNOWN
4       Coffee  In-store
...        ...       ...
9995    Coffee   UNKNOWN
9996       NaN       NaN
9997    Coffee       NaN
9998    Cookie       NaN
9999  Sandwich  In-store

[10000 rows x 2 columns]

In [6]:
# adding or modifying cols

df["Test"] = df["Quantity"] + " world"
print(df.Test, end="\n\n")
print(df["Test"])

0       2 world
1       4 world
2       4 world
3       2 world
4       2 world
         ...
9995    2 world
9996    3 world
9997    4 world
9998    3 world
9999    3 world
Name: Test, Length: 10000, dtype: object

0       2 world
1       4 world
2       4 world
3       2 world
4       2 world
         ...
9995    2 world
9996    3 world
9997    4 world
9998    3 world
9999    3 world
Name: Test, Length: 10000, dtype: object

In [7]:
# row selection --> loc vs iloc
# loc  --> label based row selection
# iloc --> position based row selection

print(df.iloc[0], end="\n\n") # row 0
print(df.loc[0, "Item"]) # val for row 0 col Item

Transaction ID      TXN_1961373
Item                     Coffee
Quantity                      2
Price Per Unit              2.0
Total Spent                 4.0
Payment Method      Credit Card
Location               Takeaway
Transaction Date     2023-09-08
Test                    2 world
Name: 0, dtype: object

Coffee

In [8]:
# filtering rows using bool idx

print(df[df["Total Spent"] > "9"], end="\n\n\n")
print(df[(df["Total Spent"] > "5") & (df["Location"] == "Takeaway")])

     Transaction ID     Item Quantity Price Per Unit Total Spent  \
2       TXN_4271903   Cookie        4            1.0       ERROR
6       TXN_4433211  UNKNOWN        3            3.0         9.0
31      TXN_8927252  UNKNOWN        2            1.0       ERROR
42      TXN_6650263      Tea        2            1.5     UNKNOWN
49      TXN_8230936     Cake        3            3.0         9.0
...             ...      ...      ...            ...         ...
9914    TXN_6420902     Cake        3            3.0         9.0
9949    TXN_3130865    Juice        3            3.0         9.0
9954    TXN_1191659   Coffee        4            2.0       ERROR
9964    TXN_8938445     Cake        3            3.0         9.0
9977    TXN_5548914    Juice        2            3.0       ERROR

      Payment Method  Location Transaction Date     Test
2        Credit Card  In-store       2023-07-19  4 world
6              ERROR  Takeaway       2023-10-06  3 world
31       Credit Card     ERROR       2023-11-06  2 world
42               NaN  Takeaway       2023-01-10  2 world
49               NaN     ERROR       2023-05-02  3 world
...              ...       ...              ...      ...
9914     Credit Card  Takeaway       2023-11-22  3 world
9949             NaN  In-store          UNKNOWN  3 world
9954     Credit Card  In-store       2023-11-21  4 world
9964             NaN  In-store       2023-11-07  3 world
9977  Digital Wallet  In-store       2023-11-04  2 world

[808 rows x 9 columns]


     Transaction ID      Item Quantity Price Per Unit Total Spent  \
6       TXN_4433211   UNKNOWN        3            3.0         9.0
11      TXN_3051279  Sandwich        2            4.0         8.0
13      TXN_9437049    Cookie        5            1.0         5.0
34      TXN_8853997  Smoothie        2            4.0         8.0
42      TXN_6650263       Tea        2            1.5     UNKNOWN
...             ...       ...      ...            ...         ...
9902    TXN_3706457       Tea        5            1.5         7.5
9914    TXN_6420902      Cake        3            3.0         9.0
9935    TXN_9778251       Tea    ERROR            1.5         6.0
9942    TXN_5344848     Salad        1            5.0         5.0
9957    TXN_6487003    Coffee    ERROR            2.0         8.0

      Payment Method  Location Transaction Date         Test
6              ERROR  Takeaway       2023-10-06      3 world
11       Credit Card  Takeaway            ERROR      2 world
13               NaN  Takeaway       2023-06-01      5 world
34    Digital Wallet  Takeaway       2023-10-09      2 world
42               NaN  Takeaway       2023-01-10      2 world
...              ...       ...              ...          ...
9902     Credit Card  Takeaway       2023-07-18      5 world
9914     Credit Card  Takeaway       2023-11-22      3 world
9935             NaN  Takeaway       2023-11-09  ERROR world
9942  Digital Wallet  Takeaway       2023-09-27      1 world
9957     Credit Card  Takeaway       2023-11-15  ERROR world

[947 rows x 9 columns]

In [9]:
df.query("Item == 'Cake' and Quantity > '3'")

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Test
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,4 world
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25,5 world
29,TXN_7640952,Cake,4,3.0,12.0,Digital Wallet,Takeaway,ERROR,4 world
50,TXN_7742742,Cake,5,3.0,15.0,NaN,Takeaway,2023-09-05,5 world
56,TXN_3578141,Cake,5,NaN,15.0,NaN,Takeaway,2023-06-27,5 world
...,...,...,...,...,...,...,...,...,...
9944,TXN_7495283,Cake,UNKNOWN,3.0,15.0,Credit Card,Takeaway,2023-04-14,UNKNOWN world
9953,TXN_8966400,Cake,5,3.0,15.0,Credit Card,Takeaway,2023-11-29,5 world
9963,TXN_8545707,Cake,5,3.0,15.0,NaN,Takeaway,2023-02-14,5 world
9972,TXN_3124078,Cake,4,3.0,12.0,UNKNOWN,In-store,2023-08-06,4 world
9988,TXN_9594133,Cake,5,3.0,NaN,ERROR,NaN,NaN,5 world

In [15]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Test
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,2 world
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,4 world
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4 world
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,2 world
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,2 world

In [16]:
# detecting missing vals

df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
Test                 138
dtype: int64

In [ ]:
if 0:
    df.dropna(axis=1) # drops all cols with missing vals
print(df.shape, end="\n\n")
print(df.dropna(axis=0), end="\n\n")
print(df.shape)

(10000, 9)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9984    TXN_3142496  Smoothie  UNKNOWN            4.0         4.0
9986    TXN_2858441  Sandwich        2            4.0         8.0
9991    TXN_3897619  Sandwich        3            4.0        12.0
9992    TXN_2739140  Smoothie        4            4.0        16.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date           Test
0        Credit Card  Takeaway       2023-09-08        2 world
1               Cash  In-store       2023-05-16        4 world
2        Credit Card  In-store       2023-07-19        4 world
3            UNKNOWN   UNKNOWN       2023-04-27        2 world
4     Digital Wallet  In-store       2023-06-11        2 world
...              ...       ...              ...            ...
9984            Cash  Takeaway       2023-07-27  UNKNOWN world
9986     Credit Card  In-store       2023-12-14        2 world
9991            Cash  Takeaway       2023-02-24        3 world
9992         UNKNOWN  In-store       2023-07-05        4 world
9999            Cash  In-store       2023-11-07        3 world

[4550 rows x 9 columns]

(10000, 9)